@media (min-width: 1024px)
{
    #app-view
    {
        width:80%;
    }
}

@media ((max-width: 1023px) and (min-width: 768px))
{
    #app-view
    {
        width:90%;
    }
}

@media ((max-width: 767px))
{
    #app-view
    {
        width:100%;
    }
}

div.message 
{
    float: left;
    background-color: aqua;
}

div.my-message
{
    float:right;
    background-color: blue;
    color: white;
}

#app-menu li :hover
{
    background-color: blueviolet;
    color:cornsilk;
}

.room-list li :hover 
{
    background-color: brown;
}

div.message-list
{
    background-color:beige;
    min-height: 100px;
    max-height: 200px;
    max-width: 600px;
    overflow: scroll;
}